'use strict'

const config = {}

config.logger = {
  pretty: true,
  level: 'trace'
}

config.fjwt = {
  urlLogin: 'https://charlesread.auth0.com/authorize',
  urlAuthorizationCode: 'https://charlesread.auth0.com/oauth/token',
  urlJWKS: 'https://charlesread.auth0.com/.well-known/jwks.json',
  client_id: process.env['K_CLIENT_ID'],
  client_secret: process.env['K_CLIENT_SECRET'],
  redirect_uri: process.env['K_REDIRECT_URI'],
  cookie: {
    domain: process.env['K_DOMAIN'],
    secure: process.env['K_PROD'] === 'false' ? false : true
  },
  pathExempt: [
    '/login',
    '/callback',
    '/'
  ],
  pathSuccessRedirect: 'https://www.charlesread.io',
  authorizationCallback: async function (claims, req, reply) {
    console.log('claims: %o', claims)
  }
}

module.exports = config